@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600&display=swap');
:root {
  --blue: #184f77;
  --light-blue: #178bad;
  --dark-blue: #0e2d44;
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.5);
  --warning-green: #7eb356;
  --warning-yellow: #f9c74f;
  --warning-orange: #ed8607;
  --warning-red: #f94144;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
}
input,
button {
  border: none;
  outline: none;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}
.content {
  padding: 2rem;
  background-color: var(--light-blue);
  width: 100%;
  height: 100%;
  color: var(--white);
}
header.header {
  /* background-color: #7eb35655; */
  margin: 1rem 0s;
}
header.header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.header > nav > .logo {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  align-items: center;
}
header.header > nav > .logo > h3 {
  font-weight: 500;
}
header.header > nav > form.search {
  background-color: var(--dark-blue);
  width: 20rem;
  /* height: 2rem; */
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: 0.5em;
}
header.header > nav > form.search > input {
  width: 90%;
  padding: 0 0.5em;
}
header.header > nav > form.search > button {
  width: 10%;
}
header.header > nav > form.search > input,
header.header > nav > form.search > button {
  background-color: transparent;
  font-size: 1.3rem;
  color: white;
}

header.header > nav > .temperature > button {
  background-color: var(--dark-blue);
  color: white;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border-radius: 1em;
  font-weight: 500;
  transition: border 0.5s ease;
  border: 0.2em solid var(--dark-blue);
}
header.header > nav > .temperature > button:hover,
header.header > nav > .temperature > button.active {
  border: 0.2em solid var(--white);
}
.text-w-50 {
  color: rgba(255, 255, 255, 0.5);
}
main .container {
  width: 50%;
  /* background-color: #ed860733; */
  margin: 0 auto;
}
main .container > .card-clima {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  gap: 1rem;
}
main .container > .card-clima > .top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .container > .card-clima > .top > h1.title {
  font-size: 2rem;
  font-weight: 500;
}
main .container > .card-clima > .top > p {
  font-size: 1.2rem;
}
main .container > .card-clima > .description {
  display: flex;
  gap: 3rem;
  align-items: center;
}
main .container > .card-clima > .description > .simple {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
}
main .container > .card-clima > .description > .simple > .giant {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}
main .container > .card-clima > .description > .simple > .giant > .icon {
  width: 5rem;
  flex: 1 1 auto;
}
main .container > .card-clima > .description > .simple > .giant img {
  width: 100%;
}
main .container > .card-clima > .description > .boxs {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
main .container > .card-clima > .description > .boxs > .box {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
main .container > .card-clima > .description > .boxs > .box > h3 {
  font-size: 1.5rem;
}
