@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,800;0,900;1,200;1,400;1,500&display=swap");

:root {
  --pink-pale: #c38d9e;
  --gray-low: #eee;
  --purple-dark: #501f3a;
  --green-ligth: #3ba395;
  --red: rgb(255, 0, 0);
  --yellow: rgb(250, 250, 3);
  --green: rgb(5, 138, 5);
  --letter-normal: #141414;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "sans-serif";
  width: 100vw;
  height: 100vh;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
}
input[type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
}
input,
textarea {
  border: none;
}
textarea {
  resize: none;
}
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
#content {
  width: 100%;
  height: 100vh;
  background-color: #3ba395;
}

#content > .square-to-do {
  background-color: #f7f7f7;
  width: 80%;
  margin: 0 auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.container {
  margin: 0 auto;
  padding: 1em 3%;
}
.square-to-do > header.header {
  background-color: var(--pink-pale);
  color: white;
}
header.header .logo > h1 {
  display: flex;
  letter-spacing: 0.15em;
  gap: 0.5em;
}
#content main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1em;
}
main > aside {
  background-color: var(--gray-low);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5em 3em;
  color: var(--letter-normal);
}
main > aside > nav > ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main > aside > nav > ul > li > a {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 300;
}
main > aside > nav > ul > li > a:not(.other-list):hover > span,
main > aside > nav > ul > li > a.active > span,
main > aside > nav > ul > li > a.other-list ~ ul a:hover > span,
main > aside > nav > ul > li > a.other-list ~ ul a.active > span {
  color: var(--purple-dark);
  font-weight: 500;
  font-size: 1.2em;
}
main > aside > nav > ul > li > a.active > span::before,
main > aside > nav > ul > li > a:hover > span::before,
main > aside > nav > ul > li > a.other-list ~ ul a:hover > span::before,
main > aside > nav > ul > li > a.other-list ~ ul a.active > span::before {
  content: "//";
  font-size: 0.8em;
  margin-right: 0.4em;
}
.number-round {
  background-color: var(--pink-pale);
  width: 1.5em;
  height: 1.5em;
  padding: 0.3em;
  border-radius: 3em;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.number-round > span {
  font-size: 0.9em;
}

.btn-circle > button {
  /* background-color: transparent; */
  color: white;
  background-color: var(--pink-pale);
  border-radius: 5em;
  overflow: hidden;
  width: 0.8em;
  height: 0.8em;
  font-size: 2em;
  padding: 0.8em;
  display: grid;
  place-content: center;
  box-shadow: 5px 5px 15px -8px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
main > aside > nav > ul > li > a.other-list ~ ul {
  margin: 1em 0 1em 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main > aside > nav > ul > li > a.other-list ~ ul > li > a {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
main .main-container {
  padding-top: 2em;
}
main .main-container .container {
  height: 100%;
}
main .main-container .container > .list-notes {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1em;
}

.list-notes > .card {
  justify-content: space-between;
  background-color: #eee;
  border-left: 2px solid var(--red);
  padding: 0.6em 0.5em;
  display: none;
}
.list-notes > .card.active {
  display: flex;
}
.list-notes > .card:hover {
  -webkit-transform: scale(1.003);
  transform: scale(1.003);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.list-notes > .card > .left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  color: var(--letter-normal);
}
.list-notes > .card > .left > input {
  accent-color: var(--green-ligth);
  border: 2px solid red;
}
.cont {
  display: flex;
  align-items: center;
  transform: scale(1);
}
/* checked */
input[type="checkbox"] {
  height: 1.2rem;
  width: 1.2rem;
  margin: 5px;
  display: inline-block;
  appearance: none;
  position: relative;
  background-color: #f2ecff;
  border-radius: 27%;
  cursor: pointer;
  overflow: hidden;
  border: 0.2em solid var(--green-ligth);
}

input[type="checkbox"]::after {
  content: "";
  display: block;
  height: 0.45rem;
  width: 0.2rem;
  border-bottom: 0.2rem solid #a0ffe7;
  border-right: 0.2rem solid #a0ffe7;
  opacity: 0;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  top: 47%;
  left: 18%;
  transition: 0.25s ease;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  background-color: var(--green-ligth);
  border-radius: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked::before {
  height: 130%;
  width: 130%;
  opacity: 100%;
}

input[type="checkbox"]:checked::after {
  opacity: 100%;
}
/* sadasdas */
.list-notes > .card > .left > h5 {
  font-weight: 400;
  font-size: 0.8rem;
}
.list-notes > .card > .right {
  display: flex;
  gap: 1em;
  align-items: center;
}
.list-notes > .card > .right > span {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--purple-dark);
  transition: all 0.3s;
}
.list-notes > .card > .right > span:not(#fch-simple):hover {
  color: var(--green-ligth);
  cursor: pointer;
}
.list-notes > .card > .right > button {
  font-size: 0.8em;
  padding: 0.4em 0.5em;
}

#content > .modal-new-nota {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#content > .modal-new-nota > .square-form {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "aside main";
  background-color: aqua;
  width: 60%;
  height: 60%;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}
#content > .modal-new-nota > .square-form > .top-square-form {
  grid-area: header;
  background-color: var(--pink-pale);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2.5em;
  letter-spacing: 0.15em;
}
#close-modal > i {
  font-size: 1.5rem;
  cursor: pointer;
}
#content > .modal-new-nota > .square-form > aside.left-form {
  grid-area: aside;
  background-color: var(--gray-low);
  padding-top: 1.5em;
  padding-left: 3em;
  font-size: 1.4em;
  color: var(--letter-normal);
}
#content > .modal-new-nota > .square-form > aside.left-form > ul {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
#content > .modal-new-nota > .square-form > aside.left-form > ul > li > span {
  font-weight: 300;
}
#content > .modal-new-nota > .square-form > .form-main {
  grid-area: main;
  background-color: white;
  padding: 2em;
}
.form-main > #to-do {
  /* background-color: violet; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-main > #to-do > .text-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.form-main > #to-do > .text-form > input,
.form-main > #to-do > .text-form > textarea {
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.1s;
  padding: 0.5em;
  font-size: 1.2rem;
}

.form-main > #to-do > .text-form > input:hover,
.form-main > #to-do > .text-form > input:focus,
.form-main > #to-do > .text-form > textarea:hover,
.form-main > #to-do > .text-form > textarea:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 1px 5px rgb(74, 157, 236, 20%);
  background-color: white;
}
.form-main > #to-do > .details-form {
  display: flex;
  justify-content: space-between;
}
.form-main > #to-do > .details-form > .dates-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.form-main > #to-do > .details-form > .dates-form > .date-form {
  display: flex;
  gap: 1em;
}

.form-main .dates-form > .date-form > .date-form-options {
  display: flex;
  gap: 1em;
}
label {
  font-size: 1.1rem;
}
.date-form-options input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.date-form-options label span {
  display: block;
  position: relative;
  transition: background-color 0.5s ease;
}
.btn-light {
  --color-prim: #3ba395;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.2em 0.5em;
  border: 1px solid var(--color-prim);
  color: var(--color-prim);
  border-radius: 0.3em;
  cursor: pointer;
  letter-spacing: 0.05em;
  text-align: center;
  font-weight: 500;
}
.btn-light.green {
  color: var(--green);
  border: 1px solid var(--green);
}
.btn-light.orange {
  color: orange;
  border: 1px solid orange;
}
.btn-light.red {
  color: var(--red);
  border: 1px solid var(--red);
}

.btn-light:not(input[type="date"]):active,
.btn-light:not(input[type="date"]):hover {
  background-color: var(--color-prim);
  z-index: 1;
  color: white;
}
.date-form-options input[type="radio"]:checked + span.red,
.date-form-options span.red:hover {
  background-color: var(--red);
  z-index: 1;
  color: white;
}
.date-form-options input[type="radio"]:checked + span.orange,
.date-form-options span.orange:hover {
  background-color: orange;
  z-index: 1;
  color: white;
}
.date-form-options input[type="radio"]:checked + span.green,
.date-form-options span.green:hover {
  background-color: var(--green);
  z-index: 1;
  color: white;
}
.details-form > .submit-form {
  display: flex;
  align-items: end;
}
